* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  position: relative;
  background-color: #1E2B34;
  padding-top: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.interval {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 100%;
  height: 26px;
  font-size: 0px;
  border-bottom: 1px solid #252F36;
  text-align: left;
}

.interval div {
  display: inline-block;
  padding: 0 16px;
  margin: 0 4px;
  height: 26px;
  line-height: 26px;
  color: rgb(114, 145, 161);
  text-align: center;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

.interval div:hover {
  background-color: rgb(47, 61, 69);
}

.interval .active {
  color: rgb(6, 176, 124);
  background-color: rgb(47, 61, 69);
}
